<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:security="http://www.springframework.org/schema/security"
         xsi:schemaLocation="
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <security:global-method-security pre-post-annotations="enabled"/>

    <http realm="WebProject Forum" use-expressions="true">
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/blog/topics/subjects" access="hasRole('ROLE_USER')" method="POST"/>
        <intercept-url pattern="/blog/subjects/{subjectId}" access="@securityUserServiceImpl.canAccessUser(#subjectId,principal.username) or hasRole('ROLE_ADMIN')" method="PUT"/>
        <intercept-url pattern="/blog/comments" access="hasRole('ROLE_USER')" method="POST"/>
        <intercept-url pattern="/post/add" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/post/{subjectId}/update" access="@securityUserServiceImpl.canAccessUser(#subjectId,principal.username) or hasRole('ROLE_ADMIN')"/>



        <form-login login-page="/login"
                    authentication-failure-url="/login.jsp?login_error=1"
                    default-target-url="/blog/all"/>
        <http-basic/>
        <logout logout-success-url="/login"/>
        <remember-me />
        <headers/>
        <csrf/>
    </http>

    <!--<authentication-manager>-->

        <!--&lt;!&ndash;<authentication-provider user-service-ref="jdbcGroupsImpl"/>&ndash;&gt;-->

        <!--<authentication-provider>-->
            <!--<user-service>-->
                <!--<user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN" />-->
                <!--<user name="user" password="user" authorities="ROLE_USER" />-->
            <!--</user-service>-->
        <!--</authentication-provider>-->
    <!--</authentication-manager>-->


    <b:bean id="appUserDetailsService"
          class="hibernate.service.implementations.AppUserDetailsService"/>

    <security:authentication-manager>
        <security:authentication-provider
                user-service-ref="appUserDetailsService" >
        </security:authentication-provider>
    </security:authentication-manager>

    <b:bean id="webSecurityExpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />
</b:beans>